/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.btn {float:left;height:30px;font-size:13px}
.btn:focus{
   outline:none !important;
}

.trans {background-color:rgba(0,0,0,0.3);border:none;}
/*.trans:hover{background-image:linear-gradient(to top, #305985, #3070a0, #2c89ba, #23a2d3, #12bceb);color:black;border:solid 1px cyan;}*/
.trans:hover{background-color:#8AB4F8;color:black;border:solid 1px cyan;}

.trans-btn {background-color:rgba(0,0,0,0.3);display:block;float:left;font-weight:normal;overflow:hidden;border:none;border-radius:0px;margin-top:2px;overflow:hidden;text-overflow:ellipsis;white-space: nowrap;overflow: hidden;}
.trans-btn:hover{background-color:#8AB4F8;color:black;border:solid 1px #8AB4F8; display:block;float:left;font-weight:normal;overflow:hidden;border:none;border-radius:0px;margin-top:2px;overflow:hidden;text-overflow:ellipsis;white-space: nowrap;overflow: hidden;}
.trans-btn img{display:block;float:left;text-align:left;padding:0px;}

.transparent {background-color:rgba(0,0,0,0.3);border:none;}
.bold {font-weight: bold;}


/*.clicked-btn {background-color:#3392ff;color:black;border:solid 1px cyan;}*/
.clicked-btn {border:solid 1px white;}
.clicked-btn img{display:block;float:left;text-align:left;padding:0px;}


/* Celular de Julio ancho en pixeles */
/*@media only screen and (max-width: 360px) and (min-width:0px){*/
@media only screen and (max-width: 412px) and (min-width:0px){   
  .btn-nb {width:114px;font-size:13px;}
  .iform {font-size: 14px}
  .idata {display:block;width:100%;height:50px;max-width:100%;}
  .ilabel {display:block;float:left;width:99%;height:24px;margin-left:5px;border:none;border-radius:5px;overflow:hidden;white-space:nowrap;overflow:hidden;text-overflow:clip;border-radius:2px;}
  .icontrol {display:block;float:left;width:98%;height:23px;margin-left:5px;border:solid 1px #434343;border-radius:5px;}

  .n-row-fd{display:block;width:320px;height:22px;max-width:100%;}
  .n-field {display:block;float:left;width:120px;height:22px;margin-left:5px;margin-top:0px;padding-left:2px;padding-top:2px;overflow:hidden;text-overflow:ellipsis;white-space: nowrap;overflow: hidden;}
  .d-field {display:block;float:left;width:150px;height:22px;margin-left:5px;margin-top:0px;padding-left:2px;padding-top:2px;margin-bottom:2px;text-overflow:ellipsis;white-space: nowrap;overflow: hidden;}
  .data {display:block;float:left;width:116px;height:22px;margin-left:5px;overflow:hidden;text-overflow:ellipsis;white-space: nowrap;overflow: hidden;border:none;}
  .n-data {display:block;float:left;width:246px;height:22px;margin-left:5px;margin-top:2px;padding-top:0px;border:solid 0.5px #444444;overflow:hidden;text-overflow:ellipsis;white-space: nowrap;overflow: hidden;}
  .n-text{display:block;float:left;width:112px;height:22px;margin-left:5px;border:solid 1px;border-radius:5px;padding-top: 3px}
  .n-text-form{display:block;float:left;width:240px;height:22px;margin-left:5px;border:solid 1px;border-radius:5px;padding-top: 3px}
  .n-combolist {display:block;float:left;width:112px;height:22px;margin-left:5px;border:solid 1px;border-radius:5px}
  .n-combo_box {display:block;float:left;width:112px;height:22px;margin-left:5px;border:solid 1px;border-radius:5px}
  #accounts_table .tr{display:block;width:100%;height:24px;border:solid 1px;}
  #accounts_table .td-quantity{display:block;float:left;width:100px;text-align:right;}
  #accounts_table .td-indication{display:block;float:left;width:020px;text-align:right;}
  #accounts_table .td-product-name{display:block;float:left;width:114px;text-overflow:ellipsis;white-space: nowrap;overflow: hidden;}
  #accounts_table .td-price{display:block;float:left;width:040px;text-align:right;}
  #accounts_table .td-amount{display:block;float:left;width:044px;text-align:right;}
  #accounts_table .td-delete{display:block;float:left;width:20px;margin-left:2px;}
  #accounts_table .td-adde{display:block;float:left;width:20px;margin-left:2px;}
  .windows { height: 100%;top:0px;box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;}
}

/* Hadid celular ancho */
/*@media only screen and (max-width: 412px) and (min-width:361px){ 
  .btn-nb {width:132px;font-size:13px;} 
  .iform {font-size:14px;}
  .idata {display:block;width:100%;height:50px;max-width:100%;}
  .ilabel {display:block;float:left;width:40%;height:24px;margin-left:5px;border:none;border-radius:5px;overflow:hidden;white-space:nowrap;overflow:hidden;text-overflow:clip;border-radius:2px;}
  .icontrol {display:block;float:left;width:98%;height:23px;margin-left:5px;color:black;border:solid 1px #434343;border-radius:5px;}

  .n-row-fd{display:block;width:402px;height:22px;max-width:100%;}
  .n-field {display:block;float:left;width:120px;height:22px;margin-left:5px;margin-top:0px;padding-left:2px;padding-top:2px;overflow:hidden;text-overflow:ellipsis;white-space: nowrap;overflow: hidden;}
  .d-field {display:block;float:left;width:170px;height:22px;margin-left:5px;margin-top:0px;padding-left:2px;padding-top:2px;margin-bottom:2px;text-overflow:ellipsis;white-space: nowrap;overflow: hidden;}
  .data {display:block;float:left;width:116px;height:22px;margin-left:5px;overflow:hidden;text-overflow:ellipsis;white-space: nowrap;overflow: hidden;border:none;}
  .n-data {display:block;float:left;width:156px;height:22px;margin-left:5px;margin-top:2px;padding-top:0px;border:solid 0.5px #444444;overflow:hidden;text-overflow:ellipsis;white-space: nowrap;overflow: hidden;}
  .n-text{display:block;float:left;width:150px;height:22px;margin-left:5px;border:solid 1px;border-radius:5px;padding-top: 3px}
  .n-text-form{display:block;float:left;width:150px;height:22px;margin-left:5px;border:solid 1px;border-radius:5px;padding-top: 3px}
  .n-combolist {display:block;float:left;width:150px;height:22px;margin-left:5px;border:solid 1px;border-radius:5px}
  .n-combo_box {display:block;float:left;width:150px;height:22px;margin-left:5px;border:solid 1px;border-radius:5px}
  #accounts_table .tr{display:block;width:100%;height:24px;border:solid 1px;}
  #accounts_table .td-quantity{display:block;float:left;width:110px;text-align:right;}
  #accounts_table .td-indication{display:block;float:left;width:020px;text-align:right;}
  #accounts_table .td-product-name{display:block;float:left;width:144px;text-overflow:ellipsis;white-space: nowrap;overflow: hidden;}
  #accounts_table .td-price{display:block;float:left;width:050px;text-align:right;}
  #accounts_table .td-amount{display:block;float:left;width:054px;text-align:right;}
  #accounts_table .td-delete{display:block;float:left;width:20px;margin-left:2px;}
  .windows { height: 100%;}
}*/

@media only screen and (max-width: 530px) and (min-width: 413px){
   .btn-nb {width:132px;font-size:13px;} 
   .iform{font-size:12px;}
   .idata{display:block;width:480px;max-width:100%;height:22px;}
   .ilabel {display:block;float:left;width:135px;height:18px;margin-left:5px;border:none;border-radius:5px;margin-bottom:2px;white-space:nowrap;overflow:hidden;text-overflow:clip;border-radius:2px;}
   .icontrol{display:block;float:left;width:244px;height:18px;margin-left:5px;border:solid 1px #434343;border-radius:5px;}
   .data {display:block;float:left;width:188px;height:20px;margin-left:5px;border:solid 0.5px #444444;overflow:hidden;text-overflow:ellipsis;white-space: nowrap;overflow: hidden;border:none;}

   .n-row-fd{display:block;width:530px;height:22px;max-width:100%;}
   .n-field {display:block;float:left;width:130px;height:22px;margin-left:5px;margin-top:0px;padding-left:2px;padding-top:2px;overflow:hidden;text-overflow:ellipsis;white-space: nowrap;overflow: hidden;}
   .d-field {display:block;float:left;width:170px;height:22px;margin-left:5px;margin-top:0px;padding-left:2px;padding-top:2px;margin-bottom:2px;text-overflow:ellipsis;white-space: nowrap;overflow: hidden;}

   .n-data {display:block;float:left;width:194px;height:22px;margin-left:5px;margin-top:2px;padding-top:0px;overflow:hidden;text-overflow:ellipsis;white-space: nowrap;overflow: hidden;}
   .n-text{display:block;float:left;width:180px;height:22px;margin-left:5px;border:solid 1px;border-radius:5px;padding-top: 3px}
   .n-text-form{display:block;float:left;width:186px;height:22px;margin-left:5px;border:solid 1px;border-radius:5px;padding-top: 3px}
   .n-combolist {display:block;float:left;width:112px;height:22px;margin-left:5px;border:solid 1px;border-radius:5px}
   .n-combo_box {display:block;float:left;width:112px;height:22px;margin-left:5px;border:solid 1px;border-radius:5px}
   #accounts_table .tr{display:block;width:100%;height:24px;border:solid 1px;}
   #accounts_table .td-quantity{display:block;float:left;width:110px;text-align:right;}
   #accounts_table .td-indication{display:block;float:left;width:020px;text-align:right;}
   #accounts_table .td-product-name{display:block;float:left;width:120px;text-overflow:ellipsis;white-space: nowrap;overflow: hidden;}
   #accounts_table .td-price{display:block;float:left;width:060px;text-align:right;}
   #accounts_table .td-amount{display:block;float:left;width:070px;text-align:right;}
   #accounts_table .td-delete{display:block;float:left;width:20px;margin-left:2px;}
   .windows { height: 100%;top:0%;box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;}
}

@media only screen and (max-width: 800px) and (min-width: 530px) {
   .btn-nb {width:132px;font-size:13px;} 
   .iform {font-size:12px;}
   .idata {display:block;width:480px;max-width:100%;height:22px;}
   .ilabel {display:block;float:left;width:135px;height:18px;margin-left:5px;border:none;border-radius:5px;margin-bottom:2px;white-space:nowrap;overflow:hidden;text-overflow:clip;border-radius:2px;}
   .icontrol {display:block;float:left;width:244px;height:18px;margin-left:5px;border:solid 1px #434343;border-radius:5px;}
   .iwrap-control {display:block;float:left;width:300px;height:20px;margin-left:5px;border:solid 0.5px #444444;overflow:hidden;text-overflow:ellipsis;white-space: nowrap;overflow: hidden;border:none;}

   .n-row-fd{display:block;width:500px;max-width:100%;height:24px;}
   .n-field {display:block;float:left;width:140px;height:22px;margin-left:5px;margin-top:0px;padding-left:2px;padding-top:2px;margin-bottom:2px;text-overflow:ellipsis;white-space: nowrap;overflow: hidden;}
   .d-field {display:block;float:left;width:170px;height:22px;margin-left:5px;margin-top:0px;padding-left:2px;padding-top:2px;margin-bottom:2px;text-overflow:ellipsis;white-space: nowrap;overflow: hidden;}

   .n-data {display:block;float:left;width:256px;height:22px;margin-left:5px;margin-top:2px;padding-top:0px;margin-bottom:2px;text-overflow:ellipsis;white-space: nowrap;overflow: hidden;}
   .n-text{display:block;float:left;width:112px;height:22px;margin-left:5px;color:black;border:solid 1px;border-radius:5px;padding-top:3px;}
   .n-text-form{display:block;float:left;width:250px;height:22px;margin-left:5px;color:black;border:solid 1px;border-radius:5px;padding-top:3px;}
   .n-combolist {display:block;float:left;width:112px;height:22px;margin-left:5px;color:black;border:solid 1px;border-radius:5px}
   .n-combo_box {display:block;float:left;width:112px;height:22px;margin-left:5px;color:black;border:solid 1px;border-radius:5px}
   #accounts_table .tr{display:block;width:100%;height:24px;border:solid 1px;}
   #accounts_table .td-quantity{display:block;float:left;width:110px;text-align:right;}
   #accounts_table .td-indication{display:block;float:left;width:020px;text-align:right;}
   #accounts_table .td-product-name{display:block;float:left;width:160px;text-overflow:ellipsis;white-space: nowrap;overflow: hidden;}
   #accounts_table .td-price{display:block;float:left;width:100px;text-align:right;}
   #accounts_table .td-amount{display:block;float:left;width:120px;text-align:right;}
   #accounts_table .td-delete{display:block;float:left;width:20px;margin-left:2px;}
   .windows { height: 90%;top:5%;box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;}
}

@media only screen and (max-width: 2000px) and (min-width: 800px){
   .btn-nb {width:132px;font-size: 13px;} 
   .iform {font-size:12px;}
   .idata {display:block;width:600px;max-width:100%;height:22px;}
   .ilabel {display:block;float:left;width:150px;height:18px;margin-left:5px;border:none;border-radius:5px;margin-bottom:2px;white-space:nowrap;overflow:hidden;text-overflow:clip;border-radius:2px;}
   .icontrol{display:block;float:left;width:244px;height:18px;margin-left:5px;border:solid 1px #434343;border-radius:5px;}
   .iwrap-control {display:block;float:left;width:400px;height:20px;margin-left:5px;border:solid 0.5px #444444;overflow:hidden;text-overflow:ellipsis;white-space: nowrap;overflow: hidden;border:none;}

   .n-row-fd{display:block;width:600px;max-width:100%;height:24px;}
   .n-field {display:block;float:left;width:150px;height:22px;margin-left:5px;margin-top:0px;padding-left:2px;padding-top:2px;margin-bottom:2px;text-overflow:ellipsis;white-space: nowrap;overflow: hidden;}
   .d-field {display:block;float:left;width:160px;height:22px;margin-left:5px;margin-top:0px;padding-left:2px;padding-top:2px;margin-bottom:2px;text-overflow:ellipsis;white-space: nowrap;overflow: hidden;}

   .n-data {display:block;float:left;width:256px;height:22px;margin-left:5px;margin-top:2px;padding-top:0px;margin-bottom:2px;text-overflow:ellipsis;white-space: nowrap;overflow: hidden;border: none;}
   .n-text{display:block;float:left;width:112px;height:22px;margin-left:5px;border:solid 1px;border-radius:5px;padding-top:3px;}
   .n-text-form{display:block;float:left;width:250px;height:22px;margin-left:5px;color:black;border:solid 1px;border-radius:5px;padding-top:3px;}
   .n-combolist {display:block;float:left;width:112px;height:22px;margin-left:5px;color:black;border:solid 1px;border-radius:5px}
   .n-combo_box {display:block;float:left;width:112px;height:22px;margin-left:5px;color:black;border:solid 1px;border-radius:5px}
   #accounts_table .tr{display:block;width:100%;height:24px;border:solid 1px;}
   #accounts_table .td-quantity{display:block;float:left;width:210px;text-align:right;}
   #accounts_table .td-indication{display:block;float:left;width:020px;text-align:right;}
   #accounts_table .td-product-name{display:block;float:left;width:280px;text-overflow:ellipsis;white-space: nowrap;overflow: hidden;}
   #accounts_table .td-price{display:block;float:left;width:150px;text-align:right;}
   #accounts_table .td-amount{display:block;float:left;width:200px;text-align:right;}
   #accounts_table .td-delete{display:block;float:left;width:20px;margin-left:2px;}
   .draggable .windows{display:none;position:relative;cursor:pointer;width:400px;margin:0 auto;border-radius:7px;font-family:Arial;font-size:12px;}
   .windows { height: 90%;top:5%;box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;}
}

#lat24Bar {
   background-color: #FB7922 !important;
   padding:6px 6px;
   position: fixed;
   width: 100%;
   height:40px;
   bottom: 0px;
   border-radius:0px
}

.top-fixed-bar{
   position: fixed;
   width: 100%;
   height:auto;   
   top:0px
}

.bottom-fixed-bar{
   position: fixed;
   width: 100%;
   height:auto;   
   bottom:20px
}

.latitud24-com {
   background-color:transparent !important;color:white;
   position:relative;
   height:auto;width:120px;
   margin-left:0px;padding:0px 4px;
   float: left;
}

.btn-backup {display:block;width:auto;height:100%;position:relative;
             font-size:16px;text-decoration:none;
             margin-top:2px ;
             margin-left:50px;
             float:left;
             color:white;
            }

.lat24ToggleButton {
   background-color:transparent !important;color:white;
   position: relative;
   height:auto;width:46px;float:right;margin-top:-4px;
   margin-right:4px;border:none;
}

.io {
   background-color: transparent !important;
   color:#F45B0B !important;
   width: 0.5rem;
 }

 .btn-orange {
   background-color: #F45B0B;
   color:black;
   
 }

 .iw {
   background-color: transparent !important;
   color:white !important;
   width: 0.5rem;
 }

 .dark-green-input { background-color:#002342; color:gray; border:none; }
 .dark-input { background-color:#222222; color:gray; border:none; }
 .dark { background-color:#121212; color:gray; border:none; }
 .light { background-color:white;color:black;border:none; }


i { background-color:#313131;color:white !important}
.btn {font-family: Helvetica,Arial, sans-serif !important;
      /*font-size: 14px !important; color:#121212;*/
      /*height: 5rem !important;*/
      border-radius: 0px;
}
.btn-window {
    background-image: linear-gradient(to bottom, #f9f9f9, #f0f0f0, #e7e7e7, #dfdfdf, #d6d6d6);
    border:none;
}

.btn .light:hover{ background-color:#F9F9F9; color:black; transition: 0.3s;}
.btn .dark:hover{ background-color:#8AB4F8; color:black; transition: 0.3s;}  
.btn-light {border:solid 1px#DFDFDF;}
.btn-dark {background-color:#222222;color:white;border:solid 1px #181818;}
.btn-dark:hover {background-color: #8AB4F8;color:black !important}
.btn-light {background-color:#F8F9FA;border:solid 1px#DFDFDF;}
.btn-dark {background-color:#222222;color:white;border:solid 1px #181818;}
.btn-dark:hover {background-color: #8AB4F8;color:black !important}
.btn-note {width: 120px !important}
.btn-secondary {color:black}

a {text-decoration: none;}
.ta-l {text-align: left;}
.ta-c {text-align: center;}
.ta-r {text-align: right;}
.ta-j {text-align: justify;}
.tab-container {width: 100%; overflow-y: scroll;height: 400px; max-height: 500px;}

.nav-toolbar {display:block;width:100%;height:40px;margin-top:10px;}
.div-len {width:110px;}
.language {height: 28px;}
.lat-form {z-index:0}

button:disabled,
button[disabled]{
  /*background-color: #A6A6A6 !important;*/
  background-color: transparent!important;
  color:black !important;
}

.disabled {
   background-color: #A6A6A6!important;
   color:black !important;
}

input:disabled {
   background-color: #A6A6A6 !important;
   color:black !important;
}

select:disabled {
   background-color: #A6A6A6 !important;
   color:black !important;
}

.card {margin-bottom:2px;padding:0px;}
.card:hover {text-decoration: none;}

.card-img-left {float:left;margin-left:-1px;margin-top:-1px;border:none}
.card-body{padding:16px 4px 2px 8px}
.card-title {display:block;width:100%;font-size:15px;margin-top:-10px;height:20px;width:98%; text-overflow:ellipsis;white-space: nowrap;overflow: hidden;}
.card-text {display:block;font-size:12px;margin-top:-10px;height:34px;width:98%;padding: 2px 0px 2px 0px;line-height: 100%;}
.card-price {display:block;font-size:16px;margin-top:0px;height:30px;width:70px;padding: 2px 2px 2px 2px;text-align:right;float:left;z-index:2;}
.card-light {background-color:#F8F9FA;border:solid 1px#DFDFDF;}
.card-light:hover{ background-color:white; color:black; transition: 0.3s;text-decoration: none;}
.card-dark {background-color:#222222;color:white;border:solid 1px #181818;}
.card-dark:hover{ background-color:#181818;color:black; transition: 0.3s;text-decoration: none;}  

.card-dark-green {background-color:#011424; color:white;border:solid 1px #002342;}
.card-dark-green:hover{ background-color:#002342;color:black; transition: 0.3s;}  

#position { height:38px;}

.input-group { z-index: 0;}

/*input[type]:disabled {
   background: transparent !important;   
}*/

.fs-6 {font-size:6px;}
.fs-8 {font-size:8px;}
.fs-10 {font-size:10px;}
.fs-12 {font-size:12px;}
.fs-14 {font-size:14px;}
.fs-16 {font-size:16px;}
.fs-18 {font-size:18px;}
.fs-20 {font-size:20px;}
.fs-22 {font-size:22px;}
.fs-24 {font-size:24px;}
.fs-26 {font-size:26px;}
.fs-28 {font-size:28px;}

.main-footer {
   color: #569CBB;
   position: fixed;
   width: 100%;
   height:4rem;
   bottom: 0px;
   border-radius:0px
}

.lat24-footer {
   color:gray;
   margin:0 auto; text-align: center;
   /*position: fixed;*/
   width: 100%;
   bottom: 0px;

}

@media only screen and (max-width: 992px) and (min-width: 667px){
    .col-md-6 {width:470px !important;}
}

.underline {
   text-decoration: underline;
}

.wp20 {width: 20%;}
.wp25 {width: 25%;}
.wp30 {width: 30%;}
.wp40 {width: 40%;}
.wp50 {width: 50%;}
.wp60 {width: 60%;}
.wp70 {width: 70%;}
.wp80 {width: 80%;}
.wp90 {width: 90%;}


.fl-l {float:left}
.fl-r {float:right}
.wp100 {width: 100%;}
.br {border:solid 1px red}

.link {padding:0px 4px;}
.form-control { height: 28px;font-size:13px ;}
.form-group {width:100%;height:38px;display:block;float:left;margin-top:1px;margin-bottom:2px;}

/* Area de inputs */
input[type=checkbox].light { border:solid 2px #DFDFDF }
textarea,input[type].ligth-input:focus { background-color: white; color:black}
textarea.light-input:focus { background-color: white; color:black}
select.ligth-input:focus { background-color: white; color:black}

input[type=checkbox].dark { border:solid 2px gray}
textarea,input[type].dark-input:focus { background-color:black; color: #86B7FE }
textarea.dark-input:focus { background-color:black; color: #86B7FE }
select.dark-input:focus { background-color: black; color: #86B7FE}

input[type=checkbox].dark-green { background-color: #011424; border:solid 2px gray}
textarea,input[type].dark-green-input:focus { background-color:#002342; color: #17e8c2 }
textarea.dark-green-input:focus { background-color: #002342; color: #17e8c2 }
select.dark-green-input:focus { background-color: #002342; color: #17e8c2}



.a-link:hover {color:magenta}
.section-title:hover {color:magenta}
.price:hover {color:#86B7FE}

.scrolling-wrapper {
   overflow-x: scroll;
   overflow-y: hidden;
   white-space: nowrap;
 
   .btn {
     display: inline-block;
   }
 }


 .map-indications {display: block;height:60px;width:100%;color:cyan;font-size:14px}

 .a-icon {width:auto;margin-right:5px;margin-left:5px;}

 .border-orange {border:#FB7922 1px solid;color:#9aafaf;}
 .border-orange:hover {background-color: #002342; border:#FB7922 1px solid;color:#17e8c2;}

 .list-group-item:hover { color:#FB7922; border-bottom: solid 2px #17e8c2}

 #bottom_menu {
   background-color: #F45B0B !important;
   padding:6px 6px;
   position: fixed;
   width: 100%;
   height:40px;
   bottom: 0px;
   border-radius:0px
}

.dark-green {background-color:#011424;color:white}
.border-dark-green {border:#002342}

.br-5 { border-radius: 5px; }
.br-6 { border-radius: 6px; }
.br-7 { border-radius: 7px; }
.br-8 { border-radius: 8px; }
.br-9 { border-radius: 9px; }
.br-10 { border-radius: 10px; }
.br-50 { border-radius: 50px; }

.theme-container {display:block; float:right; margin-right: 20px;}
.shadow {box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;}

.error::-webkit-input-placeholder { color:#FFCCCB }
