
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0px;
}

#black_menu {
    width: 100vh;
    margin:0px;
    padding:0px;
}
/* Menu direct_access_menu() */
.da-sub-menu{background:black;color:white;height:18px;padding-left:10px;font-size:11.5px;color:white;list-style: none;}
.da-sub-menu:hover{background-image:linear-gradient(to bottom, #404043, #34373a, #292e2f, #212523, #1b1c18);width:260px;color:orange;text-decoration:none;}
.icon-tag{display:block;witdh:100px;float:left;}

.tool-bar-btn {
  width:40px;padding:2px;border:none;float:right;background-color:transparent;text-align:center;
}

.language{
  margin:5px 0px 0px 5px;height:22px;background-color:transparent;
}
