.on-off-button {display:block;width:100px;height:14px;float:left;border:solid 1px #FF6900;overflow:hidden;border-radius:5px;margin-top:2px;padding:1px 3px 1px 3px;}
.on-off-button:hover{background-color:red;color:white;}
    
