/* CSS para los PDF del archivo reports.php */
.logo{display:block;width:120px;float:left;}
.title{font-family:Arial,Tahoma;font-size:14;font-weight:bold;}
.header{height:16px;font-family:Arial,Tahoma;font-size:10;font-weight:normal;}
.footer{font-family:Arial,Tahoma;font-size:12;font-weight:normal;}

.table{display:block;font-family:Arial,Tahoma;height:auto;text-align:right;border-radius:5px;}
.tr{display:block;width:1000px;height:18px;border:none;}
.th{display:block;width:100px;height:16px;padding-left:4px;padding-right:4px;float:left;background-color:#A4A4A4;color:black;font-size:10px;font-weight:normal;border:solid 0.5px black;text-align:center;}
.td{display:block;width:100px;height:16px;padding-left:4px;padding-right:4px;float:left;background-color:white;color:black;font-size:10px;font-weight:normal;border:solid 0.5px black;overflow:hidden;white-space:nowrap;overflow:hidden;text-overflow:clip;}
.ta-l{text-align:left;}
.ta-c{text-align:center;}
.ta-r{text-align:right;}
.fl{float:left;}






