.button {background-color:#FB7922;color:#0c0d0b;display:block;width:100px;height:24px;float:left;font-family:Arial,Tahoma;font-size:14px;font-weight:bold;overflow:hidden;margin-top:2px;padding:2px 5px;outline:none;border:none}
.btn-orange {background-color:#FB7922;display:block;width:90px;height:20px;float:left;font-family:Arial,Tahoma;font-size:12px;font-weight:bold;overflow:hidden;margin-top:2px;padding:2px 5px;outline:none;}
.tab-button-active {display:block;width:auto;height:22px;float:left;padding:2px 2px; font-weight:bold;color:chartreuse;border-left:solid 1px #305985;border-top:solid 1px #305985;border-right:solid 1px #305985;border-bottom:none ;}
.tab-button {display:block;width:auto;height:22px;float:left;padding:2px 2px;border-bottom:solid 1px #305985;border-top:none;border-right: none;border-left:none}
.dark-button {background-image: linear-gradient(to top, #0c0d0b, #181917, #222220, #2c2c2a, #373734);color:white;display:block;width:90px;height:20px;float:left;font-family:Arial,Tahoma;font-size:12px;font-weight:normal;overflow:hidden;margin-top:2px;padding:1px 3px 1px 3px;outline:none;border:solid 1px #232323;}
.dark-button:hover{background-image: linear-gradient(to top, #305985, #3070a0, #2c89ba, #23a2d3, #12bceb);color:black;border:solid 1px cyan;}

/*.trans-button {background-color:rgba(0,0,0,0.3);color:white;display:block;width:90px;height:20px;float:left;font-family:Arial,Tahoma;font-size:12px;font-weight:normal;overflow:hidden;margin-top:2px;padding:1px 3px 1px 3px;outline:none;border:solid 1px #232323;}
.trans-button:hover{background-image: linear-gradient(to top, #305985, #3070a0, #2c89ba, #23a2d3, #12bceb);color:black;border:solid 1px cyan;}*/

.grey-button {background-image: linear-gradient(to bottom, #f1ebfb, #d8e3ee, #c9d8db, #c1cbc8, #bcbeb9);color:black;display:block;width:90px;height:20px;float:left;font-family:Arial,Tahoma;font-size:11px;font-weight:normal;border:solid 1px #CED4DA;overflow:hidden;margin-top:2px;padding:1px 3px 1px 3px;outline:none;}
/*.grey-button {background-image: linear-gradient(to left, #dbe1e9, #d7dee4, #d4dcdf, #d2d8da, #d1d5d5);color:black;display:block;width:90px;height:20px;float:left;font-family:Arial,Tahoma;font-size:11px;font-weight:normal;border:solid 1px #CED4DA;border-radius:5px;overflow:hidden;margin-top:2px;padding:1px 3px 1px 3px;outline:none;}*/
.grey-button:hover{background-image: linear-gradient(to top, #305985, #3070a0, #2c89ba, #23a2d3, #12bceb);color:black;border:solid 1px cyan;}

/*.button {background:#2A1F1C;color:white;display:block;width:90px;height:20px;float:left;font-family:Arial,Tahoma;font-size:11px;font-weight:normal;border:solid 1px #434343;overflow:hidden;border-radius:5px;margin-top:2px;padding:1px 3px 1px 3px;}*/
.disabled {background-color:#566573;color:white;}
.button:hover{background-image: linear-gradient(to top, #305985, #3070a0, #2c89ba, #23a2d3, #12bceb);color:black;border:solid 1px cyan;padding:2px 5px;}
.disabled:hover {background-color:#566573;color:black;}
.table-bar-container{display:block;width:1000px;max-width:1000px;float:left;border:none;margin-top:5px;}
.table-container{display:block;width:3004px;max-width:7004px;float:left;margin-top:5px;}
.table-pager-container{display:block;width:3002px;max-width:7002px;float:left;border:none;margin-top:5px;border:solid 1px grey;}
.table {display:block;width:2000px;height:auto;font-family:Arial,Tahoma;font-size:14px;border:solid 1px gray;border-collapse: collapse;}
.table .tr {display:block;width:2000px;height:26px;}
/*.table .tr:hover{background-image: linear-gradient(to bottom, #ee091d, #d50b18, #bc0c13, #a30b0e, #8c0a0a);color:white;}*/
.table .tr .hover {display:block;height:24px;padding:0px;}
.table .tr .hover:hover {background:#86B7FE;color:black;}

.table .th {display:block;height:26px;float:left;;text-align:center;margin-left:0px;padding:2px 5px 0px 5px;overflow:hidden;}
.table .tf {display:block;width:70px;height:22px;float:left;margin-left:0px;padding:0px 0px 0px 0px;overflow:hidden;}
.table .td {display:block;height:24px;float:left;margin-left:0px;padding:0px 5px 0px 5px;overflow:hidden;}
/*resize:horizontal*/
.table .cf {height: 100%;}
.selected {background-image: linear-gradient(to bottom, #ee091d, #d50b18, #bc0c13, #a30b0e, #8c0a0a);color:white;display:block;width:100%;height:16px;border-bottom:solid 0.5px grey;}
.page-number{background-image: linear-gradient(to top, #370505, #610512, #8e0317, #bc0518, #eb1212);color:white;display:block;height:16px;float:left;border:solid 0.5px red;text-align:center;margin-left:2px;padding:0px 2px 0px 2px;overflow:hidden;}
.w40{width:40px;}
.ta-c{text-align:center;}
/* CSS para la image que esta dentro del button */
.button img{display:block;float:left;text-align:left;padding:0px;}
.btn-default img{display:block;float:left;text-align:left;padding:0px;}
.btn-secondary img{display:block;float:left;text-align:left;padding:0px;}
.btn-dark img{display:block;float:left;text-align:left;padding:0px;}
.btn-light img{display:block;float:left;text-align:left;padding:0px;}
.trans-button img{display:block;float:left;text-align:left;padding:0px;}
.grey-button img{display:block;float:left;text-align:left;padding-left:5px;}

/*.tab-button-active img{display:block;float:left;text-align:left;padding:0px;}
.tab-button img{display:block;float:left;text-align:left;border:solid 1px grey;padding:0px;}*/
.text{display:block;height:11px;width:auto;float:left;text-align:right;border:none;padding:0px;font-family:Arial,Tahoma;font-size:11px;font-weight:normal;margin-left:2px;}

@media only screen and (min-width: 0px) and (max-width: 400px){
 	  .table-container{display:block;width:330px;max-width:1000px;float:left;border:none;margin-top:5px;}
}

/* Scroll Bar roja */
/*
::-webkit-scrollbar {width: 12px;height: 12px;}
::-webkit-scrollbar-button {width: 0px;height: 0px;}
::-webkit-scrollbar-thumb {
  background-image: linear-gradient(to top, #370505, #610512, #8e0317, #bc0518, #eb1212);color:white;
  border: 0px none #ffffff;
  border-radius:50px;
}
::-webkit-scrollbar-thumb:hover {background: #ff0000;}
::-webkit-scrollbar-thumb:active {background: #ff0000;}
::-webkit-scrollbar-track {background: #c0c0c0;border: 0px none #ffffff;}
::-webkit-scrollbar-track:hover {background: #c0c0c0;}
::-webkit-scrollbar-track:active {background: #c0c0c0;}
::-webkit-scrollbar-corner {background: #c0c0c0;}*/
