.tooltip {
	width: 150px;
	float:left;
	margin-left:15px;
 	padding-left:0px;
}

.tooltip .tooltiptext {
    position: relative;
    visibility: hidden;
    width: 240px;
    height:auto;
    background-color: #A9D0F5;
    color: Black;
    text-align: left;
    border-radius: 6px;
    padding: 2px 5px 2px 5px;
    position: absolute;
    margin-top:-18px;
    margin-left:100px;
    font-family:Arial,Tahoma;
    font-size:12px; 
    /* Fade in ToolTip - takes 1 second to go from 0% to 100% opac: */
    opacity: 0;
    transition: opacity 1s;
    border:solid 0.5px #58ACFA;
    border-radius:2px;    

}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
    border:solid 1px red;
}